# Temporary Files
*.log
*.txt
!README.md
output.txt
tests_fail.txt
single_test.txt
tests_mini.txt

# Logs
tests/test_logs/*.json
tests/test_logs/*.log
__pycache__/
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
logs/
data/raw/
*.mp4
*.avi
README_UTF8.md
C:/Users/Bahattin Yunus/.gemini/antigravity/brain/
